/* Ajoutez ici le style pour rendre la page belle */

/* Style pour le titre de la page */
#page-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Style pour le bouton "Create" */
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
  }
  
  /* Style pour les boutons "Edit" et "Delete" */
  .btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-outline-danger:hover {
    background-color: #dc3545;
    color: #fff;
  }
  
  /* Style pour la carte contenant la table de données */
  .card {
    border: none;
    border-radius: 0;
  }
  
  /* Style pour la table de données */
  .ngx-datatable.bootstrap {
    background-color: #fff;
    border-collapse: collapse;
    width: 100%;
  }
  
  .ngx-datatable.bootstrap th,
  .ngx-datatable.bootstrap td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  .ngx-datatable.bootstrap th {
    font-weight: bold;
  }
  
  .ngx-datatable.bootstrap tbody tr:last-child td {
    border-bottom: none;
  }
  
  /* Style pour l'espace entre la carte et le haut de la page */
  .mt-5 {
    margin-top: 50px;
  }
  
  /* Style pour l'espace entre les boutons "Edit" et "Delete" */
  .mr-2 {
    margin-right: 10px;
  }
  /* Ajoutez ce code CSS pour centrer le tableau */
.tex {
  display: flex;
  justify-content: center;
  align-items: center;
   /* Pour centrer verticalement */
}
.text-end {
  display: flex;
  margin-bottom: 20px;
}