<app-sidebar></app-sidebar>

<div class="container-fluid mt-5 tex px-5 t-center">

  <div class="row">
    <div class="col-md-8 mt-5">
      <h2 id="page-heading">
        <span>Liste des entrepot </span>
       <div class="text-end">
        <button class="btn btn-primary" [routerLink]="['/new']">
          <span>Créer un nouvel entrepot </span>
        </button>
       </div>
      </h2>      <div class="card p-3 shadow" style="width: 1070px;">
        <div class="card-body" style="width: 1000px;">
          <ngx-datatable class="bootstrap" [rows]="entrepot" [columnMode]="'force'"
                         [headerHeight]="50" [rowHeight]="'auto'" [footerHeight]="50" [limit]="10">
            <ngx-datatable-column name="Libelle" prop="libelle"></ngx-datatable-column>
            <ngx-datatable-column name="Longitude" prop="longitude"></ngx-datatable-column>
            <ngx-datatable-column name="Latitude" prop="latitude"></ngx-datatable-column>
            <ngx-datatable-column name="Superficie" prop="superficy"></ngx-datatable-column>
            <ngx-datatable-column name="Placer" prop="placer"></ngx-datatable-column>

            <ngx-datatable-column name="Action" [width]="300">
              <ng-template ngx-datatable-cell-template let-row="row">
                <div class="btn-group" role="group">
                  <button class="btn btn-outline-success" (click)="goToEntrepotDetails(row.id)">Voir+</button>
                  <button class="btn btn-outline-success mx-2" (click)="goToEntrepotModify(row.id)">Modifier</button>
                  <button class="btn btn-outline-danger" (click)="deleteEntrepot(row)">Supprimer</button>
                </div>
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>
        </div>
      </div>
    </div>

  </div>

</div>
