.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 6 / 4;
  background-image: url("../../../assets/image.jpeg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.div2 { grid-area: 1 / 4 / 6 / 6;
; }
a{
  color: #CB7A4Bff
}
.login-form {
  height: 100vh;
  width: 100%;
  padding: 30px;
  padding-top: 140px;
  border-radius: 5px;


}

.btn-google {
  background-color: #ffffff;
  color: #4285f4;
  border: 1px solid #4285f4;
}

.btn-google:hover {
  background-color: #f1f3f4;
  color: #4285f4;
  border: 1px solid #4285f4;
}
@media screen and (max-width: 768px) {
  .parent {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    display: inline;
  }

  .div1 {
    grid-area: 1 / 1 / 4 / 2;
    height: auto;
  }

  .div2 {
    grid-area: 2 / 1 / 3 / 2;

  }

  .login-form {
    padding-top: 60px;
  }
}
.input-group-text {
  cursor: pointer;
}
.txt{
  margin-left: 70px;
  font-size: 19px;
}
h1 {
  margin-top: 16rem;
  display: flex;
  justify-content: start;
  margin-left: 68px;
  font-weight: bold;
  font-size: 35px;
  color: white;


}
.pr {
  font-size: 27px;
  color: white;
  margin-left: 70px;
}
.btn{
  background-color: #CB7A4Bff;
  color: white;
}
@media screen and (max-width: 768px) {
  .parent {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .div1 {
    grid-area: 1 / 1 / 4 / 2;
    height: auto;
    background-image: none; /* Supprimer l'image de fond pour les petits écrans */
  }

  .div2 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .login-form {
    padding-top: 60px;
  }

  h1 {
    margin-top: 8rem; /* Ajuster la marge supérieure pour le texte */
    margin-left: 20px; /* Ajuster la marge gauche pour le texte */
    font-size: 30px; /* Ajuster la taille du texte */
  }

  .pr {
    font-size: 22px; /* Ajuster la taille du texte */
    margin-left: 20px; /* Ajuster la marge gauche pour le texte */
  }

  .btn {
    /* Styles du bouton adaptés pour les petits écrans */
    background-color: #cb7a4bff;
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
  }
}
