<!-- Forgot Password Request -->
<section id="forgot-password">
  <div class="row auth-height full-height-vh m-0 d-flex align-items-center justify-content-center">
    <div class="col-md-7 col-12">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="card-body auth-img">
            <div class="row m-0">
              <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center text-center auth-img-bg py-2">
                <img src="../../../assets/forgot.png" alt="" class="img-fluid" width="260" height="230">
              </div>
              <div class="col-lg-6 col-md-12 px-4 py-3">
                <h4 class="mb-2 card-title">Réinitialisation du mot de passe</h4>
                <p class="card-text mb-3">Veuillez entrer votre adresse e-mail et nous vous enverrons des instructions pour réinitialiser votre mot de passe.</p>
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control"
                           formControlName="email" [class.is-invalid]="emailControl.invalid && emailControl.touched" placeholder="E-mail">
                    <div class="invalid-feedback" *ngIf="emailControl.invalid && emailControl.touched">

                    </div>
                  </div>
                  <div class="d-flex flex-sm-row flex-column justify-content-between">
                    <a [routerLink]="['/login']" class="btn bg-light-primary mb-2 mb-sm-0">Retour à la connexion</a>
                    <button class="btn btn-primary ml-sm-1" [disabled]="forgotPasswordForm.invalid">Réinitialiser</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Forgot Password Request -->
